﻿<div class="jumbotron">
    <h1>Hello From WEB API</h1>
    <p class="lead">This project uses a code first approach to a local Database using Web Api 2 to display hello world.</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Follow the link below to view the Web Api 2 Raw XML</p>
        <p><a class="btn btn-default" href="http://localhost:61197/Api/Person">XML from Web Api &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Formatted Page</h2>
        <p>Follow the link below to view the XML formatted with HTML and JQuery to display the local Database record.</p>
        <p><a class="btn btn-default" href="~/Person.html">Hello World &raquo;</a></p>
    </div>

</div>
